<section class="labels">
  <div class="container">
    <div class="row">
      <div class="labels-container col-12">
        <div class="labels-container-wrapper">
          <div class="row">
            <div *ngFor="let label of labels | paginate: { itemsPerPage: 6, currentPage: actualPage }" class="labels-container-wrapper-category-wrapper col-md-6">
              <app-lab-card
                [label]="label"
              ></app-lab-card>
            </div>
          </div>
          <div class="paginator">
            <pagination-controls
              (pageChange)="actualPage = $event"
              [autoHide]="true"
              [responsive]="true"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
