<div id="home-page">
  <h1 *ngIf="role" class="text-center mb-5 h4">Panell {{ role }}</h1>
  <div class="container">
    <div class="row home-content-wrapper">
      <div [ngSwitch]="role">
        <div *ngSwitchCase="'USER'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="userTableSubscribedEvents"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="userTableEventsToBeCelebrated"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-5">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Totals actes subscrits</div>
              <div class="card-body">
                <h5 class="card-title text-center">{{ userTotalOfSubscribedEvents }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'ADMIN'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="adminTableEventsManaged"
              [actionButtons]="{
                active: true,
                resource: '/event/dashboard/event',
                actions: {
                  view: true,
                  edit: false,
                  delete: false
                }
              }"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="adminTablePendingQuestionsToBeAnswered"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-5">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Totals actes gestionats</div>
              <div class="card-body">
                <h5 class="card-title text-center">{{adminTotalEventsManaged}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'SUPERADMIN'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="superAdminTableLastEventOrganizersInTheSystem"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="superAdminTableLastLabelsInTheSystem"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="superAdminTableLastCategoriesInTheSystem"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
        </div>
        <div *ngSwitchDefault>output2</div>
      </div>
    </div>
  </div>
</div>
