@import "../../../../../../assets/css/_variables"
@import "../../../../../../assets/css/_breakpoints"

#home-page
  //padding: 1rem
  width: 100%
  height: 100%

  .form-content-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    padding: 1rem
    background-color: $turquoise
    border-radius: 0.5rem
    margin-bottom: 1em

    .form-content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      padding: 1rem
      color: $richBlack
      font-size: 150%
      text-align: center

    .form-title
      color: $richBlack
      font-size: 150%
      text-align: center

    .form.wrapper

      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 60%
      padding: 1rem
      background-color: $turquoise
      border-radius: 0.5rem
      margin-bottom: 1em

      label
        color: $richBlack

  .home-content-wrapper
    background-color: $turquoise
    border-radius: 0.5rem
    padding-bottom: 2.3em
    margin-bottom: 2em
