<div id="home-page">
  <div>
    <div class="container"> 
      <div class="row">
        <div class="col-12 form-content-wrapper">
          <h1 class="form-title h4 mb-3">
            User's home
          </h1>
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="card text-black bg mb-3" style="max-width: 18rem;">
                  <div class="card-header">Darrers events suscrits</div>
                  <div class="card-body">
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <app-dashboard-table [toShow]="dataTable" [actionButtons]="actionButtons"></app-dashboard-table>
                          </div>
                        </div>
                      </div>
                    <!--<p class="card-title">Llista</p>-->
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Totals events suscrits</div>
                  <div class="card-body">
                    <h5 class="card-title">99</h5>
                    <!--<p class="card-text">99</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container"> 
      <div class="row">
        <div class="col-12 form-content-wrapper">
          <h1 class="form-title h4 mb-3">
            Admin's home
          </h1>
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="card text-black bg mb-3" style="max-width: 18rem;">
                  <div class="card-header">Darrers actes</div>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <app-dashboard-table [toShow]="dataTable" [actionButtons]="actionButtons"></app-dashboard-table>
                        </div>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Totals actes</div>
                  <div class="card-body">
                    <h5 class="card-title">99</h5>
                    <!--<p class="card-text">99</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container"> 
      <div class="row">
        <div class="col-12 form-content-wrapper">
          <h1 class="form-title h4 mb-3">
            SuperAdmin's home
          </h1>
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="card text-black bg mb-3" style="max-width: 18rem;">
                  <div class="card-header">Darrers registres</div>
                  <div class="card-body">
                    <p class="card-text">Llista </p>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <app-dashboard-table [toShow]="dataTable" [actionButtons]="actionButtons"></app-dashboard-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Totals registres</div>
                  <div class="card-body">
                    <h5 class="card-title">99</h5>
                    <!--<p class="card-text">99</p>-->
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Preguntes pendents</div>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <app-dashboard-table [toShow]="dataTable" [actionButtons]="actionButtons"></app-dashboard-table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<li *ngIf="permissions && permissions.profile && permissions.profile.modifyPersonalData === true" class="dashboard-header-navbar-profile-menu-content-item">
  <a [routerLink]="['/profile/dashboard/userprofile']">Perfil</a>
</li>-->

