<div id="home-page">
  <div class="container">
    <div class="row home-content-wrapper">
      <div *ngIf="me && me.firstName && me.lastName">
        <h1 class="text-center h4 p-5">
          Benvingut {{ me.firstName + ' ' + me.lastName }}
        </h1>
      </div>
      <div [ngSwitch]="role">
        <div *ngSwitchCase="'USER'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-5">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Totals events suscrits</div>
              <div class="card-body">
                <h5 class="card-title text-center">99</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'ADMIN'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-5">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Totals events suscrits</div>
              <div class="card-body">
                <h5 class="card-title text-center">99</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'SUPERADMIN'">
          <div class="col-sm-8 offset-sm-2">
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
            <app-dashboard-table
              [toShow]="dataTable"
              [actionButtons]="actionButtons"
              class="mb-5"
            ></app-dashboard-table>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-5">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Totals events suscrits</div>
              <div class="card-body">
                <h5 class="card-title text-center">99</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>output2</div>
      </div>
    </div>
  </div>
</div>
