@import "../../../../../assets/css/_variables"
@import "../../../../../assets/css/_breakpoints"

#signup-page
  background-color: $richBlack
  position: absolute
  width: 100%

  .form-content-wrapper
    display: flex
    flex-direction: column
    align-items: center

    .form-title
      color: $white
      text-align: center

    .form-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 80%
      padding: 2rem
      background-color: $turquoise
      border-radius: 0.5rem
      margin-bottom: 1em

      label
        color: $richBlack
