<footer id="main-footer">
    <div>
        &copy;2021 Dasz Events S.L
    </div>
    <div>
        cultureindahouse@gmail.com
    </div>
    <div>
        <ul>
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Etiquetes</a>
            </li>
            <li>
                <a [routerLink]="['/media/forum']">Forum</a>
            </li>
        </ul>
    </div>
</footer>
