<div *ngIf="isCelebrated(); then clickable else unclickable"></div>

<ng-template #clickable>
  <a class="event-link" [routerLink]="[eventRoute, event.id]">
    <div class="card enabled">
      <div *ngIf="event.headerImage; then withImg else defaultImg"></div>
      <ng-template #withImg>
        <div class="event-img">
          <figure class="figure figure-img">
            <img [src]="event.headerImage" [alt]="event.id" class="img-fluid">
          </figure>
        </div>
      </ng-template>
      <ng-template #defaultImg>
        <div class="event-img">
          <figure class="figure figure-img">
            <img src="../../../../../assets/img/event-detail-img.jpeg" [alt]="event.id" class="img-fluid">
          </figure>
        </div>
      </ng-template>
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text">
          {{ event.description }}
        </p>
      </div>
      <div class="card-footer text-center">
        <div>
          <small class="text-muted">
            <strong><i>Inici</i></strong> {{ event.startDate | formatDate }}
          </small>
        </div>
        <div>
          <small class="text-muted">
            <strong><i>Fi</i></strong> {{ event.endDate | formatDate }}
          </small>
        </div>
      </div>
    </div>
  </a>
</ng-template>

<ng-template #unclickable>
  <div class="card disabled">
    <div *ngIf="event.headerImage; then withImg else defaultImg"></div>
    <ng-template #withImg>
      <div class="event-img">
        <figure class="figure figure-img">
          <img [src]="event.headerImage" [alt]="event.id" class="img-fluid">
        </figure>
      </div>
    </ng-template>
    <ng-template #defaultImg>
      <div class="event-img">
        <figure class="figure figure-img">
          <img src="../../../../../assets/img/event-detail-img.jpeg" [alt]="event.id" class="img-fluid">
        </figure>
      </div>
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ event.name }}</h5>
      <p class="card-text">
        {{ event.description }}
      </p>
    </div>
    <div class="card-footer text-center">
      <div>
        <small class="text-muted">
          <strong><i>Inici</i></strong> {{ event.startDate | formatDate }}
        </small>
      </div>
      <div>
        <small class="text-muted">
          <strong><i>Fi</i></strong> {{ event.endDate | formatDate }}
        </small>
      </div>
    </div>
  </div>
</ng-template>
