<div class="card" (click)="goToResultsPage()" data-id="{{ category.id }}">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
    aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#868e96"></rect>
  </svg>
  <div class="card-body">
    <h5 class="card-title text-center m-0 p-3">
      {{ category.name }}
    </h5>
  </div>
  <div class="card-footer text-center">
    <small class="text-muted">
      Num. actes 3
    </small>
  </div>
</div>
