<app-banner></app-banner>

<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories-container col-12">
        <div class="categories-container-wrapper">
          <div class="row">
            <div class="categories-container-wrapper-category-wrapper col-md-6">
              <app-cat-card></app-cat-card>
            </div>
            <div class="categories-container-wrapper-category-wrapper col-md-6">
              <app-cat-card></app-cat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
