<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 col-md-8 offset-md-2 form-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="text-center">
                    <h2 class="pt-5 pb-3">{{ title }}</h2>
                </div>
                <div>
                    <div class="form-group mb-5">
                        <label for="eventName" class="form-label">Nom<sup>*</sup></label>
                        <input type="text" id="eventName" class="form-control" formControlName="name"
                            [ngClass]="{ 'is-invalid': !form.pending && form.get('name').invalid, 'is-valid': form.get('name').valid }" />
                        <div *ngIf="form.get('name').invalid && 
                                    form.get('name').errors && 
                                    (form.get('name').dirty || form.get('name').touched)">
                            <small class="text-danger" *ngIf="form.get('name').hasError('required')">
                                El nom es obligatori.
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventDescription" class="form-label">Descripció</label>
                        <input type="text" id="eventDescription" class="form-control"
                            formControlName="description" />
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventHeaderImage" class="form-label">Imatge</label>
                        <input type="text" id="eventHeaderImage" class="form-control"
                            formControlName="headerImage" />
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventInitDate" class="form-label">Data d'inici</label>
                        <input type="date" id="eventInitDate" class="form-control"
                            formControlName="startDate" />
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventEndDate" class="form-label">Data final</label>
                        <input type="date" id="eventEndDate" class="form-control"
                            formControlName="endDate" />
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventCategory" class="form-label">Categoria<sup>*</sup></label>
                        <select formControlName="category" id="eventCategory" class="form-select" [ngClass]="{ 'is-invalid': !form.pending && form.get('organizerId').invalid, 'is-valid': form.get('organizerId').valid }">
                            <option [ngValue]="" disabled selected>Tria una categoria</option>
                            <option *ngFor="let category of categories" [ngValue]="category.name">
                                {{ category.name}}
                            </option>
                        </select>
                        <div *ngIf="form.get('category').invalid && 
                                    form.get('category').errors && 
                                    (form.get('category').dirty || form.get('category').touched)">
                            <small class="text-danger" *ngIf="form.get('category').hasError('required')">
                                La categoria es obligatoria.
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label for="eventOrganizerId" class="form-label">Organitzador<sup>*</sup></label>
                        <select formControlName="organizerId" id="eventOrganizerId" class="form-select" [ngClass]="{ 'is-invalid': !form.pending && form.get('organizerId').invalid, 'is-valid': form.get('organizerId').valid }">
                            <option [ngValue]="" disabled selected>Tria un organitzador</option>
                            <option *ngFor="let eventOrganizer of eventOrganizers" [ngValue]="eventOrganizer.id">
                                {{ eventOrganizer.name}}
                            </option>
                        </select>
                        <div *ngIf="form.get('organizerId').invalid && 
                                    form.get('organizerId').errors && 
                                    (form.get('organizerId').dirty || form.get('organizerId').touched)">
                            <small class="text-danger" *ngIf="form.get('organizerId').hasError('required')">
                                L'organitzador és obligatori.
                            </small>
                        </div>
                    </div>
                        <div *ngFor="let label of labels">
                            <input type="checkbox" (change)="onChange(label.id, $event)" />
                            {{label.name}}
                        </div>

                    <div class="form-group p-4">
                        <button class="form-control btn btn-dark text-white" [disabled]="form.invalid">
                            {{ btnText }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

