<div class="rating-wrapper" #ratingWrapper>
    <div class="rating">
        <span class="rating-title">Puntuació:</span>
        <fa-icon [icon]="faStar" class="star"></fa-icon>
        <fa-icon [icon]="faStar" class="star"></fa-icon>
        <fa-icon [icon]="faStar" class="star"></fa-icon>
        <fa-icon [icon]="faStar" class="star"></fa-icon>
        <fa-icon [icon]="faStar" class="star"></fa-icon>
    </div>
    <div class="total-ratings">
        <span>Votacions totals: {{ rating.ratingsCount }}</span>
    </div>
</div>
