@import "../../../../assets/css/_variables"
@import "../../../../assets/css/_breakpoints"
    
.rating-wrapper
    display: flex
    flex-direction: column
    justify-content: center

    @include max-md()
        font-size: 1em

    .rating
        font-size: 2em

        &-title
            font-weight: bold

        .star
            margin-left: 10px
    
    .total-ratings
        font-size: 1em
        margin-top: 1em
        font-style: italic
        font-weight: bolder
        text-align: center

.enabled
    color: yellow
