@import "../../../../../../assets/css/_variables"
@import "../../../../../../assets/css/_breakpoints"

#signup-page
  padding: 3rem
  width: 100%
  height: 100%

  .form-content-wrapper
    display: flex
    flex-direction: column
    align-items: center

    .form-title
      color: $richBlack
      text-align: center
      font-size: 2rem

    .form-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%
      padding: 1rem
      background-color: $turquoise
      border-radius: 0.5rem
      margin-bottom: 1em

      label
        color: $richBlack
  @include max-lg()
    padding: 1rem

button
  @include max-lg()
    margin-top: 2rem
    width: 80%
