<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 detail-wrapper">
            <h1 class="text-center m-5">
                {{ title }}
            </h1>
            <div class="p-4">
                <div class="mb-3">
                    <h4 class="fw-bold">Nom: </h4>
                    <span>{{ eventOrganizer.name }}</span>
                </div>
                <div class="mb-3">
                    <h4 class="fw-bold">Descripció: </h4>
                    <span>{{ eventOrganizer.description }}</span>
                </div>
                <div class="mb-3">
                    <h4 class="fw-bold">Administrador: </h4>
                    <span>Administrador</span>
                </div>
                <div class="mb-3">
                    <h4 class="fw-bold">Events: </h4>
                    <span>Aqui una array de empreses o no</span>
                </div>
            </div>
        </div>
    </div>
</div>
