@import "../../../../assets/css/_variables"
@import "../../../../assets/css/_breakpoints"

.question
  background-color: $white
  color: $richBlack
  border-radius: 25px
  padding: 1em
  border: 1px solid $richBlack
  height: 100%
  margin-bottom: 1em

  &:hover
    box-shadow: 0 0 30px $richBlack

  &-top
    display: flex
    flex-direction: column
    justify-content: center
    align-items: baseline

    @include max-lg()
      flex-direction: row
      align-items: center 

    &-header
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: baseline
      flex-basis: content
      padding: 1.3em

      &-icon
        border: 1px solid $richBlack
        border-radius: 50%
        padding: .6em .85em
        font-size: 1.5em
        margin-right: 10px

    &-body
      padding: 1.3em
      display: flex
      flex-direction: column
      align-items: baseline

  &-answer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-basis: content
    padding: 1.3em 1.3em 0 1.3em

    .question-when
      display: flex
      justify-content: flex-end
      align-items: center
      padding: 1.3em 1.3em 0 0

