<div class="message-wrapper">
    <div class="message message-title">
        <span>Usuari:</span> {{ message.authorFirstName }}
    </div>
    <div class="message message-body">
        {{ message.message }}
    </div>
    <div class="message message-answer-wrapper" *ngIf="answer">
        <div class="message-answer-body">
            <div class="message-answer-title">
                Resposta:
            </div>
            <p>{{ answer.message }}</p>
            <small>{{ answer.createdAt | formatDate }}</small>
        </div>
    </div>
    <div class="message message-footer">
        <div class="text-center">
            {{ message.createdAt | formatDate }}
        </div>
        <div class="text-center event-name">
            {{ eventName || message.eventName}}
        </div>
    </div>
</div>
