@import "../../../../assets/css/_variables"
@import "../../../../assets/css/_breakpoints"

.message-wrapper
    background-color: $richBlack
    border: 2px solid $white
    border-radius: 15px
    color: $white
    padding: 1em
    width: 100%

    .message
        padding: .3em 0

    .message-title
        text-align: center
        margin-bottom: 10px

        span
            font-style: italic

    .message-body
        text-align: justify

    .message-answer
    .message-footer
        font-size: 12px
        font-style: italic
        text-align: center
