<aside #sideMenu class="sidebar-menu">
  <h2 #sideMenuTitle class="h4">Dasz Menu</h2>
  <div class="sidebar-menu-content">
    <ul class="sidebar-menu-content-items">
      <li *ngIf="permissions && permissions.administration && permissions.administration.manageCategories"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faCategories"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Categories</span>
      </li>
      <li *ngIf="permissions && permissions.administration && permissions.administration.manageEventOrganizers"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faEventOrganizers"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Empreses</span>
      </li>
      <li *ngIf="permissions && permissions.administration && permissions.administration.manageAdministrators"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faUserAdmin"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Administradors</span>
      </li>
      <li *ngIf="permissions && permissions.administration && permissions.administration.associateAdminToEventOrganizer"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faAssociateAdminToEvent"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">
          <a [routerLink]="['/administration/dashboard/linkAdminToEventOrganizer']">Associar admin.</a>
        </span>
      </li>
      <li *ngIf="permissions && permissions.administration && permissions.administration.manageLabels"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faLabels"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Etiquetes</span>
      </li>
      <li *ngIf="permissions && permissions.profile && permissions.profile.manageEvents"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faEvents"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Actes</span>
      </li>
      <li
        *ngIf="permissions && permissions.media && (permissions.media.makeForumQuestion || permissions.media.viewForumQuestions)"
        class="sidebar-menu-content-items-item">
        <fa-icon class="sidebar-menu-content-items-item-icon" [icon]="faQuestion"></fa-icon>
        <span #sideMenuItemTitle class="sidebar-menu-content-items-item-title">Preguntes</span>
      </li>
      <li class="sidebar-menu-content-items-item">
        <div #closeSideMenuButton>
          <fa-icon [icon]="faArrowClose" (click)="closeSideMenu()"></fa-icon>
        </div>
        <div #openSideMenuButton>
          <fa-icon [icon]="faArrowOpen" (click)="openSideMenu()"></fa-icon>
        </div>
      </li>
    </ul>
  </div>
</aside>
