@import "../../../../../assets/css/_variables.sass"
@import "../../../../../assets/css/_breakpoints"

.sidebar-menu
  background-color: $turquoise
  border-right: 2px solid $richBlack
  height: 100%

  @include max-lg()
    padding: 0.5em 0
    min-width: 100px
  @include min-lg()
    padding: 1.5em 0
    min-width: 250px

  h2
    text-align: center

    @include max-lg()
      display: none

  &-content
    position: relative

    &-arrow
      position: absolute
      top: 200px
      left: 120px
      font-size: 2em
      background-color: $cadetGray
      border-radius: 50%
      border: 2px solid $richBlack
      padding: 0 .3em

    &-items
      padding: 0
      margin: 2em 0 0 0

      &-item
        position: relative
        list-style: none
        margin: 0 0 .5em 0
        text-align: center
        padding: 1em 0 0 0
        cursor: pointer

        @include min-lg()
          font-size: 1em
          font-weight: bold

        &:hover
          background-color: $richBlack
          color: $white

        &-submenu
          display: none
          color: $white
          transition: 1s linear
          padding: 0
          margin-top: 1em

          &-item
            list-style: none
            padding: 1em 0 .5em 0
            width: 100%
            border-bottom: 1px solid $white
            cursor: pointer
            background-color: $cadetGray

            &:nth-child(1)
              border-top: 4px solid $white

        &:nth-last-child(-n+1)
          display: flex
          justify-content: center
          align-items: center
          padding: 0
          margin-top: 5em

          &:hover
            background-color: $turquoise

          div
            fa-icon
              background: $richBlack
              border: 2px solid $white
              color: $white
              border-radius: 50%
              cursor: pointer

              &:hover
                box-shadow: 0 0 30px $richBlack

            &:nth-child(1) // Close button
              fa-icon
                font-size: 24px
                padding: .2em .7em .2em .5em

            &:nth-child(2) // Open button
              fa-icon
                font-size: 18px
                padding: .2em .6em .2em .6em

.opened
  padding: 1.5em 0
  min-width: 250px
  transition: .3s linear

.closed
  padding: 0.5em 0
  min-width: 100px
  transition: .3s linear

.hide
  display: none

.show
  display: block
