@import "../../../../../assets/css/_variables.sass"
@import "../../../../../assets/css/_breakpoints"

.sidebar-menu
  background-color: $turquoise
  border-right: 2px solid $richBlack
  height: 100%

  @include max-lg()
    padding: 0.5em 0
    min-width: 100px
  @include min-lg()
    padding: 1.5em 0
    min-width: 250px

  h2
    text-align: center

    @include max-lg()
      display: none

  &-content
    position: relative

    &-arrow
      position: absolute
      top: 200px
      left: 120px
      font-size: 2em
      background-color: $cadetGray
      border-radius: 50%
      border: 2px solid $richBlack
      padding: 0 .3em

    &-items
      padding: 0
      margin: 1.6em 0 0 0

      &-item
        position: relative
        list-style: none
        padding-bottom: 2em
        text-align: center

        &-link
          position: relative
          color: $richBlack
          text-decoration: none
          &:actived,
          &:link,
          &:visited
            color: $richBlack

          &:hover
            background-color: $richBlack
            color: $white
            padding: .5em 1em
            border-radius: 5px

          &-title
            font-weight: bold

          &-submenu
            display: none
            position: absolute
            top: -10px
            left: 167px
            min-width: 150px
            background-color: $white
            border-radius: 5px
            border: 2px solid $richBlack
            padding: 1em 0 0 0

            li
              list-style: none
              padding: 0 1em 1em 1em
              width: 100%

            &::after
              content: ""
              position: absolute
              top: 6px
              left: -24px
              border-width: 0 13px 20px
              transform: rotate(-90deg)
              border-style: solid
              border-color: transparent transparent $richBlack

        &:nth-last-child(-n+1)
          display: flex
          justify-content: center
          align-items: center
          padding: 0
          margin-top: 1.5em

          div
            fa-icon
              background: $richBlack
              border: 2px solid $white
              color: $white
              border-radius: 50%
              cursor: pointer

              &:hover
                box-shadow: 0 0 30px $richBlack

            &:nth-child(1) // Close button
              fa-icon
                font-size: 24px
                padding: .2em .7em .2em .5em

            &:nth-child(2) // Open button
              fa-icon
                font-size: 18px
                padding: .2em .6em .2em .6em

.opened
  padding: 1.5em 0
  min-width: 250px
  transition: .3s linear

.closed
  padding: 0.5em 0
  min-width: 100px
  transition: .3s linear

.hide
  display: none

.show
  display: block !important
