<aside class="sidebar-menu">
  <h2 class="h4">Dasz Menu</h2>
  <div class="sidebar-menu-content">
    <ul class="sidebar-menu-content-items">
      <li class="sidebar-menu-content-items-item">
        <a href="#">Item 1</a>
      </li>
      <li class="sidebar-menu-content-items-item">
        <a href="#">Item 2</a>
      </li>
      <li class="sidebar-menu-content-items-item">
        <a href="#">Item 3</a>
      </li>
      <li class="sidebar-menu-content-items-item">
        <a href="#">Item 4</a>
      </li>
      <li class="sidebar-menu-content-items-item">
        <a href="#">Item 5</a>
      </li>
    </ul>
  </div>
</aside>
