@import "../../../../../assets/css/_variables.sass"
@import "../../../../../assets/css/_breakpoints"

.sidebar-menu
  background-color: $turquoise
  border-right: 2px solid $richBlack
  padding: 1.5em 2em
  height: 92.2vh

  h2
    margin-bottom: 1.6em

  &-content
    &-items
      &-item
        list-style: none
        padding-bottom: 2em

        a
          color: $richBlack
          text-decoration: none
          &:actived,
          &:hover,
          &:link,
          &:visited
            color: $richBlack


