<app-banner></app-banner>

<section class="forum">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="forum-header">
          <h2 class="h4 text-white py-5">
            Darreres preguntes
          </h2>
          <div class="forum-header-add-btn">
            <button
            [swal]="{ title: 'Crea una nova pregunta', input: 'text', showDenyButton: true, denyButtonText: 'Cancel·la', showCancelButton: true }"
            class="forum-header-add btn btn-primary">
            Fer pregunta
          </button>
          </div>
        </div>
      </div>
      <div class="forum-container col-12">
        <div class="row">
          <div *ngFor="let question of lastQuestions | paginate: { itemsPerPage: 6, currentPage: actualPage }" class="col-md-6 col-lg-4 mb-3">
            <app-question
              [question]="question"
            ></app-question>
          </div>
        </div>
        <div class="paginator">
          <pagination-controls
            (pageChange)="actualPage = $event"
            [autoHide]="true"
            [responsive]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
